 body{
    margin: 0;
     padding: 0;
     background-image :url("home_bg.jpeg");
    height:100vh;
    background-size:cover; 
    background-blend-mode: difference;
    }
input
{
    margin-top:30px;
    border-radius:20px;
    width:10vw;
}
#formcont
{
    background-color:rgba(1,1,1,0.4); 
    width:30vw; 
    margin:auto;
    text-align:center; 
    border:4px outset;
    animation-name:animate;
    animation-duration: 1s;
}
#note{
    width:30vw;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background-color:rgba(255,255,255,0.45);
    animation-name:animate;
    animation-duration: 2s;
}
@keyframes animate
{
    from{
        opacity:0;
    }
    to
    {
        opacity:1;
    }
}
@media screen and (max-width:708px)
{
    #note{
        width:213px;
    }
    #formcont
    {
        width:213px;
    }
}
@media screen and (max-width:850px)
{
    input{
        width:85px;
    }
}